.error{
    color: red;
    margin-top:10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color: green;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(193, 224, 255);
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(243,241,237);
    padding: 20px;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
}

label{
    margin-bottom: 10px;
}

input[type= "text"], input[type="password"]{
    padding: 10px;
    border-radius: 10px;
    border-color: red;
    border-style: solid;
    border: none;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: rgb(2,62,2);
}