**{
    margin: 0;
    padding: 0;
}

#hamburger{
    display: none;/*chat box não irá aparecer*/
}/*puxa para modificar o id hamburguer*/

.menuBotao{
    display: block;
    width: 30px;
    height: 200px;
    position: relative;
    margin: 30px;
}/*classe personalizada do menuBotao*/

.hamburgerStyle,
.hamburgerStyle::after,
.hamburgerStyle::before
{
    content: "";
    display: block;
    background-color: rgb(24, 99, 99);
    height: 3px;
    width: 100%;
    border-radius: 3px;
    position: absolute;
}/*classe personalizada do hamburgerStyle (é o traço q aparece), tag :: serve para duplicar como no exemplo de cima*/

.hamburgerStyle::before{
    top: 8px;
}

.hamburgerStyle::after{
    bottom: 8px;
}

.menuBotao:hover .hamburgerStyle,
.menuBotao:hover .hamburgerStyle::after,
.menuBotao:hover .hamburgerStyle::before
{
    background-color: rgb(60, 211, 211);
}

.menu{
    list-style: none;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 23px;
    width: auto;
    height: 0;
    transition: height 0.3s ease;
    overflow: hidden;

}/*classe do menu*/

.menu.open{
    height: auto;
}/*sub classe do menu*/



