img{
    width: 150px;
    height: auto;
    border: 2px solid grey;
    padding: 5px;
    background-color: white;
    transition: transform 0.2s;
    border-radius: 10px;
}

img:hover{
    transform: scale(1.03);
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(240, 237, 237);
    padding: 20px;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;   
}

li{
    margin-right: 20px;
    margin-bottom: 20px;   
}

a{
    color:blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    background-color: blue;
    color:rgb(240, 237, 237);
    padding: 5px 10px;
    cursor: pointer;
    border-style: none;    
    border-radius: 7px;
    margin-right: 10px;
}

button:hover{
    background-color:rgb(4, 4, 102);
}

.number{
    color: red;
}


