body {
    background-color: rgb(252, 173, 223);
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    margin-top: 2%;
}

ul{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 10%;
}

a{
    display: block;
    text-align: center;
    background-color: gray;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover{
    background-color: rgb(7,140,185);
    color: black;
}

.instagram{
    background-image: linear-gradient(to bottom, rgba(70,100,202,1), rgba(241,77,90,1),rgba(255,202,82,1), rgba(194,68,147,1)); 
    color: white;
}

.twitter{
    background-color: rgba(29,161,242,1);
    color:white;
}

.facebook{
    background-color: rgba(1,120,246,1);
    color: white;
}