<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beach Clothes</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.global.js"></script>
</head>

<body>
    <h1>Beach Clothes</h1>

    <section id="app">

    <header class="app2">
        <input type="checkbox" id="beachclothes" v-model="mostrarMenu">
        <label for="beachclothes" class="menuBotao">
            <span class="beachclothesStyle"></span>
        </label>
            <ul class="menu" :class="{'open':mostrarMenu}">
                <li><a href="#home">Home</a></li>
                <li><a href="#raquetes">Raquetes</a></li>
                <li><a href="#roupafem">Roupas Femininas</a></li>
                <li><a href="#roupamas">Roupas Masculinas</a></li>
                <li><a href="#acessorios">Acessórios</a></li>
                <li><a href="#login">Login</a></li>
                <li><a href="#cadastro">Cadastro</a></li>
            </ul><!--Fechamento Ul-->
    </header><!--Fechamento header-->


    <section id="home">
        <h2>Bem Vindo ao Beach Clothes!</h2><!--Fechamento h1-->
        <p>Seja bem vindo ao nosso site! Explore a página e aproveite novas promoções!</p><!--Fechamento p-->
    </section><!--Fechamento Section-->

    <section id="raquetes">
        <h1>Raquetes de Beach Tennis</h1>
        <div class="grid">
            <img class="gridimagem1" src="./imagens/raquete 1.png" alt="Imagem 1">
            <p>Raquete Beach Tennis Preço: 199,90</p>
            <!--<h3>Raquete de Beach Tennis</h3>-->
            <img class="gridimagem2" src="./imagens/raquete2.png" alt="Imagem 2">
            <p>Raquete Beach Tennis Preço: 199,90</p>
            <!--<h3>Raquete de Beach Tennis</h3>-->
        </div>
    </section><!--final section-->

    <section id="roupafem">
        <h2>Roupas Femininas</h2><!--Fechamento h2-->
        <div class="grid">
            <img class="gridimagem3"  src="./imagens/conjunto.png" alt="Imagem 3">
            <p>Roupa Feminina Preço: 250,00</p>
            <!--<h3>Roupas Femininas</h3>-->
            <img class="gridimagem4" src="./imagens/vestido.png" alt="Imagem 4">
            <p>Roupa Feminina Preço: 250,00</p>
            <!--<h3>Roupas Femininas</h3>-->
        </div>
    </section><!--Definição da Página-->

    <section id="roupamas">
        <h2>Roupas Masculinas</h2><!--Fechamento h2-->
        <div class="grid">
            <img class="gridimagem5" src="./imagens/camisa.png" alt="Imagem 5">
            <p>Camisa Masculino Preço: 250,00</p>
            <!--<h3>Roupas Masculinas</h3>-->
            <img class="gridimagem6" src="./imagens/camiseta.png" alt="Imagem 6">
            <p>Camisa Masculina: 250,00</p>
           <!--<h3>Roupas Masculinas</h3>-->
        </div>
    </section><!--Definição da Página-->

    <section id="acessorios">
        <h2>Acessórios</h2><!--Fechamento h2-->
        <div class="grid">
            <img class="gridimagem7" src="./imagens/viseira.png" alt="Imagem 7">
            <p>Viseira Preço: 100,00</p>
            <!--<h3>Viseira</h3>-->
            <img class="gridimagem8" src="./imagens/bone.jpg" alt="Imagem 8">
            <p> Boné Preço: 50,00</p>
            <!--<h3>Boné</h3>-->
        </div>
    </section><!--Definição da Página-->

    <section id="login">
        <h2>Login</h2>
        <form>
            <label for="username">E-mail:</label>
            <input type="email" v-model="username" required>

            <label for="password">Senha:</label>
            <input type="password" v-model="password" required>

            <button type="submit" @click.prevent="login">Confirmar</button>
        </form><!--tag formulário-->

        <button v-if="userAdmin" @click="paginaCadastro">Lista de Cadastrados</button>

    </section>
    

    <section id="cadastro">
        <h2>Cadastre-se!</h2>
        <form>
            <label class="labelCadastro" for="newUsername">E-mail:</label>
            <input class="textos" type="email" v-model="newUsername" required>

            <label class="labelCadastro" for="newPassword">Senha:</label>
            <input class="textos" type="password" v-model="newPassword" required>

            <label class="labelCadastro" for="confirmPassword">Confirmar Senha:</label>
            <input class="textos" type="password" v-model="confirmPassword" required>

            <button class="botaoCadastro" type="submit" @click.prevent="adicionarUsuario">Cadastrar</button><!--botão para envio-->
        </form><!--tag formulário-->

        <p class="error" :class="{entrada: mostrarEntrada}">{{error}}</p>
        <p class="sucesso" :class="{entrada: mostrarEntrada}">{{sucesso}}</p>

    </section>
    </section>

    <!--Definição do Rodapé da página-->
    <footer>
        <p>&copy;2023 Beach Clothes.Todos Direitos Conservados </p>
    </footer>

<script src="process.js"></script>
</body>

</html>