
*{
    margin: 0;
    padding: 0;
}

/* @font-face {
    font-family: 'Shadows Into Light';
    src: url('https://fonts.google.com/specimen/Shadows+Into+Light');
} */

#beachclothes{
    display: none;
}

.menuBotao{
    display: block;
    width: 30px;
    height: 5px;
    position: relative;
    margin: 30px;
}

.beachclothesStyle,
.beachclothesStyle::after,
.beachclothesStyle::before
{
    content: "";
    display: block;
    background-color: rgb(4, 126, 44);
    height: 3px;
    width: 100%;
    border-radius: 3px;
    position: absolute;
}

.beachclothesStyle::before{
    top: 8px;
}

.beachclothesStyle::after{
    bottom: 8px;
}

.menuBotao:hover .beachclothesStyle,
.menuBotao:hover .beachclothesStyle::after,
.menuBotao:hover .beachclothesStyle::before
{
    background-color: rgb(200, 239, 189);
}

.menu{
    list-style: none;
    background-color: rgb(39, 64, 46);
    position: absolute;
    left: 23px;
    width: auto;
    height: 0;
    transition: height 03s ease;
    overflow: hidden;
    flex-direction: column
}

.menu.open{
    height: auto;
}
    
header{
    background-color: rgb(39, 64, 46);
    color: rgb(255, 255, 255);
    padding: 20px;
}

ul{
    list-style-type:none ;
    font-family: 'Shadows Into Light', sans-serif;
}


ul li{
    display: inline;
    margin-right: 10px;
}

ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section{
    padding:20px;
}

footer{
    background-color:rgb(54, 79,48);
    color: white;
    padding: 10px;
    text-align: center;
}
form{
    max-width: 400px;
    margin: 0 auto;
}
label{
    display: block;
    margin-bottom: 10px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 10px;
}
button{
    padding: 10px 20px;
    background-color: rgb(38, 89, 54);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button :hover{
    background-color: rgb(0, 0, 0);
}

h1{
    margin-bottom: 10px;
    text-align: center;
}
h2{
    margin-bottom: 100px;
    text-align: center;
}
p{

    margin-bottom: 100px;
    text-align: center;
    text-size-adjust: 50px;
}

.grid{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.gridimagem1{
    height: 500px;
    position: relative;
}

.gridimagem2{
    height: 440px;
    position: relative;
    
}

.gridimagem3{
    height: 800px;
    position: relative;
}

.gridimagem4{
    height: 800px;
    position: relative;
    
}

.gridimagem5{
    height: 800px;
    position: relative;
}

.gridimagem6{
    height: 800px;
    position: relative;
    
}

.gridimagem7{
    height: 325px;
    position: relative;
}

.gridimagem8{
    height: 325px;
    position: relative;
  
}

.error{
    color: darkred;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color: lightgreen;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

.app2{
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(54, 79,48);
    padding: 20px;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

label{
    margin-bottom: 10px;
}

.labelCadastro{
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
}

/*input[type="email"], input[type="password"]{
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}tentar fazer ser puxado para o app2*/

.textos{
    width: 85%;
    font-size: 16px;
}

button{
    padding: 10px;
    background-color: rgb(38, 89, 54);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: 10px;
}

button:hover{
    background-color: rgb(133, 185, 119);
}

.lista{
    margin-top: 20px;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(186, 215, 186)
}

ol{
    margin-top: 10px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-items: center;
}

/*li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    padding-left: 10px;
    margin-left: 0px;
    border-radius: 10px;
    background-color: white;
}tentar fazer ser puxado para o app2*/